/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2014, 12:17:50 PM
    Author     : arthurfernandes
*/

.errorInfo{
    
    position:absolute;
    left:10%;
    
}

.errorInfo span,a{
    
    background-color: rgba(255,255,255,0.3);
    color: #ffffff;
    width: inherit;
    height: inherit;
    font-size: 20px;
    text-align: center;
}

.errorButton{
   position:relative;
    background-color: rgba(255,255,255,0.3);
    width:fit-content;
    text-align: center;
    
}
